<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
 <form asp-action="Create" asp-controller="Home" method="post">
    <div class="form-group">
        <label >Trail Name</label>
        <input type="text" class="form-control"  name="name" style="width:350px;" >
    </div>
    <div class="form-group">
        <label >Description</label>
        <input type="text" class="form-control"  name="description" style="width:350px;">
    </div>
    <div class="form-group">
        <label >Trail Length</label>
        <input type="text" class="form-control"  name="length" style="width:350px;" >
    </div>
    <div class="form-group">
        <label >Elvation Change</label>
        <input type="text" class="form-control"  name="elevation" style="width:350px;">
    </div>
    <div class="form-group">
        <label >Longitude & Latitude</label>
        <input type="text" class="form-control"  name="longlat" style="width:350px;">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>